* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
