/* general */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

/* links */
a {
  color: inherit;
}
.content-links::after {
  content: url("/icons/external-link.svg");
  margin-left: 4px;
  margin-right: 4px;
}

/* images */
img {
  max-width: 100%;
  display: block;
}

/* dark them */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
