/* borders styling */
.borderCircle {
  border-radius: 9999px;
}

/* colors styling */
.lightText {
  color: #666;
}

/* display, visibility, opacity, overlays etc. */
.displayNone {
  display: none;
}
.flex {
  display: flex;
}
.spaceBetween {
  justify-content: space-between;
}

/* headings, sorted desc */
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}
.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}
.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}
.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* lists */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.listItem {
  margin: 0 0 1.25rem;
}

/* spacing */
.marginBottom {
  margin-bottom: var(--spacing-unit);
}
.marginBottomX2 {
  margin-bottom: calc(var(--spacing-unit) * 2);
}
.marginRight {
  margin-right: 8px;
}
.marginTop {
  margin-top: var(--spacing-unit);
}
.marginTopX2 {
  margin-top: calc(var(--spacing-unit) * 2);
}
.padding {
  padding: var(--spacing-unit);
}
.paddingTop {
  padding-top: 1px;
}

/* text styling */
.largerText {
  font-size: 1.2rem;
  line-height: 1.5;
}
.smallerText {
  font-size: 0.8rem;
  line-height: 1;
}
